{% trans_default_domain "NitraProductBundle" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% block breadcrumbs_content %}
            {% block breadscrumb_first_item %}
                <a class="first" href="{{ path("nitra_store_home_index") }}">{{ 'breadscrumbs.home'|trans }}</a>
            {% endblock breadscrumb_first_item %}

            {% for item in breadcrumbs %}
                {% block breadscrumb_item %}
                    {% block breadscrumb_separator %}
                        <span class="separator">{{ 'breadscrumbs.separator'|trans }}</span>
                    {% endblock breadscrumb_separator %}

                    {% if loop.last %}
                        {% block breadscrumb_last_item %}
                            <span class="last">{{ item.name|trans }}</span>
                        {% endblock breadscrumb_last_item %}
                    {% else %}
                        {% block breadscrumb_link %}
                            <a href="{{ item.href is defined ? item.href : path(item.route, item.routeParameters) }}">{{ item.name|trans }}</a>
                        {% endblock breadscrumb_link %}
                    {% endif %}
                {% endblock breadscrumb_item %}
            {% endfor %}
        {% endblock breadcrumbs_content %}
    </div>
{% endblock breadcrumbs %}