<div class="category_menu">
    {% block category_menu %}
        <ul>
            {% for category in categories %}
                {% block category_item %}
                    <li class="category_item">
                        {% block category_link %}
                            <a class="level0" href="{{ path('category_page', {'slug': category}) }}"><span>{{ category.name }}</span></a>
                        {% endblock category_link %}

                        {% if category.subcategories|length and category.id in curentTreeIds %}
                           {% block category_drop %}
                                <ul class="drop">
                                    {% for subcategory in category.subcategories %}
                                        {% block drop_item %}
                                            <li>
                                                {% block drop_link %}
                                                    <a href="{{ path('category_page', {'slug': subcategory}) }}">
                                                        {{- subcategory.name -}}
                                                    </a>
                                                 {% endblock drop_link %}
                                            </li>
                                        {% endblock drop_item %}
                                    {% endfor %}
                                </ul>
                           {% endblock category_drop %}
                        {% endif %}
                   </li>
               {% endblock category_item %}
            {% endfor %}
        </ul>
    {% endblock category_menu  %}
</div>
