{# для подключения zoom в productPage.html.twig подключаем jquery.elevatezoom.min.js, который находится в ProductBundle #}
{# подключаем с помощью вызова {{ include('NitraProductBundle:Aditional:productImagesZoom.html.twig', {'visible': 3}) }} в блоке images #}

{% trans_default_domain "NitraProductBundle" %}

<div class="image_block">
    {% block main_image_block %}
        {% block badge %}
            {% if item.badge and item.badge.imageBig is not empty %}
                {% block badge_content %}
                    <span class="badge {{ item.badge.aliasEn }}"><img src="{{ item.badge.imageBig|imagine_filter('badge_big') }}" alt="{{ item.badge.aliasEn }}"/></span>
                {% endblock badge_content %}
            {% endif %}
        {% endblock badge %}

        {% block main_image %}
            <a id="main_image" class="zoom" data-zoom-image="{{ item.image|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" title="{{ item.fullName }}">
                <img src="{{ item.image|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" alt="{{ item.shortName }}" />
            </a>
        {% endblock main_image %}
    {% endblock main_image_block %}

    {% if item.images is not empty %}
        {% block thumbs %}
            <div id="thumbs_carousel" class="thumbs carousel_block{{ item.images|length > visible-1 ? ' with_links' }}">
                {% block thumbs_carousel %}
                    <ul>
                        {% block carousel_items %}
                            <li class="item">
                                {% block item_first %}
                                    <a class="small_carousel_image" data-thumb="{{ item.image|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" data-image="{{ item.image|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" title="{{ item.fullName }}">
                                        <img src="{{ item.image|default('images/no_image.jpg')|imagine_filter('small_product_image') }}" data-image="{{ smallimage|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" alt="{{ item.fullName }}"/>
                                    </a>
                                {% endblock item_first %}
                            </li>
                           {% for smallimage in item.images %}
                                <li class="item">
                                    {% block item %}
                                        <a class="small_carousel_image" data-thumb="{{ smallimage|default('images/no_image.jpg')|imagine_filter('big_thumb') }}"  data-image="{{ smallimage|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" title="{{ item.fullName }}">
                                            <img src="{{ smallimage|default('images/no_image.jpg')|imagine_filter('small_product_image') }}" alt="{{ item.fullName }}"/>
                                        </a>
                                    {% endblock item %}
                                </li>
                            {% endfor %}
                        {% endblock carousel_items %}
                     </ul>
                {% endblock thumbs_carousel %}

                {% if item.images|length > visible - 1 %}
                    {% block carousel_script %}
                        <a class="thumbs_carousel slide_link prev"></a>
                        <a class="thumbs_carousel slide_link next"></a>

                        <script type="text/javascript">
                            $(document).ready(function(){
                                //initialize carousel
                                $("#thumbs_carousel").jCarouselLite({
                                    btnNext:    ".thumbs_carousel.next",
                                    btnPrev:    ".thumbs_carousel.prev",
                                    circular:   false,
                                    autoWidth:  {{ (autoWidth is defined and autoWidth) ? 'true' : 'false' }},
                                    responsive: {{ (responsive is defined and responsive) ? 'true' : 'false' }},
                                    visible:    {{ visible }},
                                    vertical:   {{ orientation == 'vertical' ? 'true' : 'false' }}
                                });
                            });
                        </script>
                    {% endblock carousel_script %}
                {% endif %}
            </div>

            {% block images_script %}
                <script type="text/javascript">
                    //change main image on click
                    $(document).ready(function(){
                        $('.small_carousel_image').click(function() {
                            var src = $(this).attr('data-thumb');
                            var img = $(this).attr('data-image');
                            $('#main_image').children('img').attr('src', src);
                            //reinitialize zoom after change main image
                            var ez = $('#main_image').data('elevateZoom');	
                            ez.swaptheimage(src, img);
                            return false;
                        });
                    });
                </script>
            {% endblock images_script %}
        {% endblock thumbs %}
    {% endif %}

    {% block zoom_script %}
        <script type="text/javascript">
            //initialize zoom for main image
            $(document).ready(function(){
                $("#main_image").css('display','inline-block');
                $("#main_image").elevateZoom({
                    {% block zoom_parameters %}
                        zoomActivation:    'click',
                        zoomWindowWidth:   483,
                        zoomWindowHeight:  376,
                        zoomWindowFadeIn:  500,
                        zoomWindowFadeOut: 500,
                        lensFadeIn:        500,
                        lensFadeOut:       500,
                        cursor:            'crosshair',
                        imageCrossfade:    true,
                        cursorText:        '<span>{{ 'zoom_text'|trans }}</span>',
                        borderSize:        0,
                        lensColour:        '#4b7a8c',
                        lensOpacity:       0.5
                    {% endblock zoom_parameters %}
                });
            });
        </script>
    {% endblock zoom_script %}
</div> 