{% block product_list_scroll %}
    {% block javascript_scroller %}
        {% block use %}
            {% javascripts '@NitraProductBundle/Resources/public/js/Scroller.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock use %}
        {% set routeName = 'scroller_add_page' %}
        <script type="text/javascript">
            $(document).ready(function() {
                new Scroller({
                    currentPage:       {% block current_page %}{{ app.request.query.get('page', 1) }}{% endblock current_page %},
                    actionUrl:         '{% block path %}{{ path(routeName, app.request.attributes.get('_route_params')|merge(app.request.query.all)) }}{% endblock path %}',
                    maxPagesToDisplay: {% block max_pages_to_display %}false{% endblock max_pages_to_display %},
                    buttonAddId:       {% block button_add_id %}false{% endblock button_add_id %}
                    {% block custom_scroller_options '' %}
                });
            });
        </script>
    {% endblock javascript_scroller %}

    {% block scroll_pager %}
        <div class="pager">{{ 'pager.page'|trans({}, 'NitraProductBundle') }}<span class="page_count">&nbsp;{% if app.request.query.get('page') %}{{ app.request.query.get('page') }}{% else %}1{% endif %}</span></div>
    {% endblock scroll_pager %}

    {% block scroll_loader %}
        <div class="scroll_loader" id="scroll_loader" style="display: none;">
            {% image '@NitraStoreBundle/Resources/public/images/loading.gif' %}
                <img src="{{ asset_url }}" alt="loading" />
            {% endimage %}
        </div>
    {% endblock scroll_loader %}

    {# Пагинация для пересчета текущей страницы #}
    {% block scroll_pagination %}
        <div id="scroll_pagination" style="display: none">
            {{ knp_pagination_render(products)|raw }}
        </div>
    {% endblock scroll_pagination %}
{% endblock product_list_scroll %}