{% trans_default_domain "NitraProductBundle" %}

{% if items is not empty %}
    {% block scroll_pager %}
        <div class="pager">{{ 'pager.page'|trans }}<span class="page_count">&nbsp;{{ items.paginationData.current }}</span></div>
    {% endblock scroll_pager %}

    {% block product_list %}
        {{ include('NitraProductBundle:Product:productList.html.twig', {
            'products': items,
            'view':     app.request.session.get('view')
        }) }}
    {% endblock product_list %}
{% endif %}