{% trans_default_domain "NitraProductBundle" %}

{% block _combinations %}
    <div class="complectation_box">
        <div class="title">{{ 'selector.auto.complectation.title'|trans }}</div>
        <ul class="level0">
            {% set index = 0 %}
            {% for key, combinations in complectation %}
                <li>
                    {% block combination_key %}<span class="combination_key">{{ ('selector.auto.combinations.' ~ key)|trans }}</span>{% endblock combination_key %}
                    <ul>
                        {% for type, combins in combinations %}
                            <li>
                                {% if combinations|length > 1 %}
                                    {% block combination_type %} <span class="combination_type">{{ ('selector.auto.combinations.' ~ type)|trans }}</span>{% endblock combination_type %}
                                {% endif %}
                                <ul>
                                    {% for combin in combins %}
                                        {% for name, parameters in combin %}
                                            <li>
                                                {% block combinations_param %} 
                                                    <a{% if index ==  app.request.session.get('selector_selected_vendor').combination %} class="active"{% endif %} href="{{ path('selection', {'category': category, 'alias': vendor.alias, 'combination': index }) }}">
                                                        <span>{{ name|raw }}</span>
                                                    </a>
                                                {% endblock combinations_param %}
                                            </li>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock _combinations %}