{% trans_default_domain "NitraProductBundle" %}

{% block chabge_link %}
    <a class="change colorbox" href="{{ path('selector', options) }}">{{ 'selector.auto.change'|trans }}</a>
{% endblock chabge_link %}

{% block clear_link %}
    <a class="clear" href="{{ path('selector-clear') }}">{{ 'selector.auto.clear_selected'|trans }}</a>
{% endblock clear_link %}