{% extends "NitraProductBundle:Selector/Auto:simple.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block js_fn_get_category_id_content %}
    return $('#{{ form.category.vars.id }} input[type="radio"]:checked').val();
{% endblock js_fn_get_category_id_content %}
    
{% block js_event_modification_change %}
    $('#{{ form.modification.vars.id }}').change(function() {
        if ($('#{{ form.category.vars.id }} input[type="radio"]:checked').length) {
            $('#{{ form.submit.vars.id }}').removeAttr('disabled');
        }
    });
{% endblock js_event_modification_change %}

{% block js_event_category_change %}
    $('#{{ form.category.vars.id }} input[type="radio"]').change(function() {
        if ($('#{{ form.modification.vars.id }}').val()) {
            $('#{{ form.submit.vars.id }}').removeAttr('disabled');
        }
    });
{% endblock js_event_category_change %}