{% trans_default_domain "NitraProductBundle" %}

{% block selected %}
    <div class="tabs_selector">
        {% block title %}<h2 class="selector_title">{{ 'selector.auto.selected_title'|trans|raw }}</h2>{% endblock title %}
        <div id="selector" class="selector_tires_wheels">
            {% block selector_content %}
                {% block selected_vendor %}
                    <div class="selected_avto_box">
                        {% block selected_vendor_image %}
                            <img src="{{ selected.image|default('images/no_image.jpg')|imagine_filter('vendor_selector') }}" alt="{{ selected.name }}" />
                        {% endblock selected_vendor_image %}
                        {% block selected_vendor_name %}
                            <span class="selected_vendor name">
                                <span class="title">{{ 'selector.auto.selected.name'|trans|raw }}</span>
                                <span class="value">{{ selected.name }}</span>
                            </span>
                        {% endblock selected_vendor_name %}
                        {% block selected_vendor_vehicle %}
                            <span class="selected_vendor vehicle">
                                <span class="title">{{ 'selector.auto.selected.vehicle'|trans|raw }}</span>
                                <span class="value">{{ selected.vehicle }}</span>
                            </span>
                        {% endblock selected_vendor_vehicle %}
                        {% block selected_vendor_year %}
                            <span class="selected_vendor year">
                                <span class="title">{{ 'selector.auto.selected.year'|trans|raw }}</span>
                                <span class="value">{{ selected.year }}</span>
                            </span>
                        {% endblock selected_vendor_year %}
                        {% block selected_vendor_modification %}
                            <span class="selected_vendor modification">
                                <span class="title">{{ 'selector.auto.selected.modification'|trans|raw }}</span>
                                <span class="value">{{ selected.modification }}</span>
                            </span>
                        {% endblock selected_vendor_modification %}
                    </div>
                {% endblock selected_vendor %}

                {% block selector_clear %}
                    <a class="selector_clear" href="{{ path('selector-clear', {'redirect': redirect}) }}">
                        <span>{{ 'selector.auto.clear_selected'|trans }}</span>
                    </a>
                {% endblock selector_clear %}

                {% block combinations %}
                    {% block category_list %}
                        <ul class="category_list">
                            {% block category_item %}
                                <li>
                                    {% block category_item_content %}
                                        {{ block('_combinations') }}
                                    {% endblock category_item_content %}
                                </li>
                            {% endblock category_item %}
                        </ul>
                    {% endblock category_list %}
                {% endblock combinations %}
            {% endblock selector_content %}
        </div>
    </div>
{% endblock selected %}

{% set showed = true %}
{% block _combinations %}
    {% if showed is not defined %}
        <ul class="level0">
            {% set index = 0 %}
            {% for key, variants in combinations %}
                <li>
                    {% block combination_key %}<span class="combination_key">{{ ('selector.auto.combinations.' ~ key)|trans }}</span>{% endblock combination_key %}
                    <ul>
                        {% for type, combins in variants %}
                            <li>
                                {% if variants|length > 1 %}
                                    {% block combination_type %} <span class="combination_type">{{ ('selector.auto.combinations.' ~ type)|trans }}</span>{% endblock combination_type %}
                                {% endif %}
                                <ul>
                                    {% for combin in combins %}
                                        {% for name, parameters in combin %}
                                            <li>
                                                {% block combinations_param %}
                                                    <a{% if index ==  app.request.session.get('selector_selected_vendor').combination %} class="active"{% endif %} href="{{ path('selection', {'category': category, 'alias': selected.alias, 'combination': index }) }}">
                                                        <span>{{ name|raw }}</span>
                                                    </a>
                                                {% endblock combinations_param %}
                                            </li>
                                            {% set index = index + 1 %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock _combinations %}