{% trans_default_domain "NitraProductBundle" %}

{% block selector %}
    <div class="tabs_selector selector_{{ type }}_{{ key }}">
        {% block title %}<h2 class="selector_title">{{ 'selector.auto.selector_title'|trans|raw }}</h2>{% endblock title %}
        <div class="auto_tabs">
            {% block js %}
                <script type="text/javascript">
                    var simpleOption = '<option></option>';
                    {% block js_fn_get_category_id %}
                        function getCategoryId(self) {
                            {% block js_fn_get_category_id_content %}
                                {% if categoryGetter is defined %}
                                    return {{ categoryGetter|raw }};
                                {% else %}
                                    return $(self).parents('form').find('input[type=hidden][name*=category]').val();
                                {% endif %}
                            {% endblock js_fn_get_category_id_content %}
                        }
                    {% endblock js_fn_get_category_id %}

                    {% block js_fn_selector %}
                        function selector(self, disabling, child, path, data) {
                            $.each(disabling, function(i, id){
                                var field = $('#' + id);
                                field
                                    .html(simpleOption)
                                    .prop('disabled', true)
                                    {% if useSelect2 %}
                                        .select2('data', null, true)
                                    {% endif %}
                                    .trigger('change');
                            });
                            data['category_id'] = getCategoryId(self);
                            $('#{{ form.submit.vars.id }}').attr('disabled', 'disabled');
                            if ($(self).val()) {
                                $.ajax({
                                    url:        path,
                                    type:       "POST",
                                    data:       data,
                                    success:    function(options) {
                                        var html = simpleOption;
                                        $.each(options, function(i, option) {
                                            html += '<option value="' + option + '">' + option + '</option>';
                                        });
                                        $('#' + child)
                                            .prop('disabled', false)
                                            {% if useSelect2 %}
                                                .select2('enable', true)
                                            {% endif %}
                                            .html(html);
                                    }
                                });
                            }
                        }
                    {% endblock js_fn_selector %}

                    {% block js_document_ready %}
                        $(document).ready(function() {
                            {% block js_document_ready_content %}
                                {% block js_event_vendor_change %}
                                    $('#{{ form.vendor.vars.id }}').change(function() {
                                        selector(
                                            this,
                                            ['{{ form.vehicle.vars.id }}', '{{ form.year.vars.id }}', '{{ form.modification.vars.id }}'],
                                            '{{ form.vehicle.vars.id }}',
                                            '{{ path('selector-vehicles') }}',
                                            { vendor: $(this).val() }
                                        );
                                    });
                                {% endblock js_event_vendor_change %}

                                {% block js_event_vehicle_change %}
                                    $('#{{ form.vehicle.vars.id }}').change(function() {
                                        selector(
                                            this,
                                            ['{{ form.year.vars.id }}', '{{ form.modification.vars.id }}'],
                                            '{{ form.year.vars.id }}', '{{ path('selector-years') }}',
                                            {
                                                vendor: $('#{{ form.vendor.vars.id }}').val(),
                                                vehicle: $(this).val()
                                            }
                                        );
                                    });
                                {% endblock js_event_vehicle_change %}

                                {% block js_event_year_change %}
                                    $('#{{ form.year.vars.id }}').change(function() {
                                        selector(this, ['{{ form.modification.vars.id }}'], '{{ form.modification.vars.id }}', '{{ path('selector-modification') }}', {
                                            vendor:  $('#{{ form.vendor.vars.id }}').val(),
                                            vehicle: $('#{{ form.vehicle.vars.id }}').val(),
                                            year:    $(this).val()
                                        });
                                    });
                                {% endblock js_event_year_change %}

                                {% block js_event_modification_change %}
                                    $('#{{ form.modification.vars.id }}').change(function() {
                                        if ($(this).val()) {
                                            $('#{{ form.category.vars.id }}').val($('.tab_links .selected').data('tab').replace('_tab', ''));
                                            $('#{{ form.submit.vars.id }}').removeAttr('disabled');
                                        }
                                    });
                                {% endblock js_event_modification_change %}

                                {% block js_event_category_change '' %}

                                {% block js_event_submit_click %}
                                    $('#{{ form.vars.id }}').submit(function() {
                                        var self = this;
                                        $('form[id*="{{ form.vars.name|replace({(key): ''}) }}"]:not(#{{ form.vars.id }}) select').filter(function(){
                                            return !$(this).data('submited');
                                        }).each(function(i, item) {
                                            var key = $(item).prop('name').match(/.*\[(.*)\]$/)[1];
                                            if (key != 'category') {
                                                var val = $(self).find('select[name*="' + key + '"]').val();
                                                $(item)
                                                    .html('<option value="' + val + '">' + val + '</option>')
                                                    {% if useSelect2 %}
                                                        .select2('val', val)
                                                    {% else %}
                                                        .val(val)
                                                    {% endif %}
                                                    .prop('disabled', false);
                                            }
                                        });

                                        $(this).data('submited', true);
                                        $.ajax({
                                            url:        $(this).prop('action'),
                                            type:       'POST',
                                            data:       $(this).serialize(),
                                            success:    function(data) {
                                                $('.selector_{{ type }}_{{ key }}').replaceWith(data);
                                            }
                                        });
                                        $('form[id*="{{ form.vars.name|replace({(key): ''}) }}"]:not(#{{ form.vars.id }})').filter(function(){
                                            return !$(this).data('submited');
                                        }).submit();
                                        return false;
                                    });
                                {% endblock js_event_submit_click %}
                            {% endblock js_document_ready_content %}
                        });
                    {% endblock js_document_ready %}
                </script>
                {{ form_javascript(form) }}
            {% endblock js %}

            {% block form %}
                {{ form(form) }}
            {% endblock form %}
        </div>
    </div>
{% endblock selector %}