{% extends "NitraProductBundle:Selector/Auto:simple.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block js_fn_get_category_id_content %}
    return $('div#tabs_auto_selector a.selected').data('type');
{% endblock js_fn_get_category_id_content %}

{% block js_event_modification_change %}
    $('#{{ form.modification.vars.id }}').change(function() {
        $('#{{ form.submit.vars.id }}').removeAttr('disabled');
    });
{% endblock js_event_modification_change %}

{% block js_document_ready_content %}
    {{ parent() }}
    $('#tabs_auto_selector a').click(function(){
        $('#tabs_auto_selector a').each(function(i, element) {
            $(element).removeClass('selected');
        });

        $(this).addClass('selected');

        $('#{{ form.category.vars.id }}').val($(this).data('type'));
        $('#{{ form.vendor.vars.id }}').select2('val', null).trigger('change');
    });
{% endblock js_document_ready_content %}
    
{% block form %}
    {% spaceless %}
        <div class="tabs">
            {% block tab_header %}
                <div class="tab_links" id="tabs_auto_selector">
                    {% block tab_links %}
                        {% for key, ids in form.vars.categories %}
                            {% block tab_link %}
                                <a class="{{ key }}{{ loop.first ? ' selected' }}" data-type="{{ key }}">
                                    {% block tab_link_content %}
                                        <span>{{ ('selector.other.' ~ key)|trans }}</span>
                                    {% endblock tab_link_content %}
                                </a>
                            {% endblock tab_link %}
                        {% endfor %}
                    {% endblock tab_links %}
                </div>
            {% endblock tab_header %}

            <div class="tab_box">
                {% block tab_content %}
                    <div id="auto_selector_tab" class="tab_content">
                        {{ form(form) }}
                    </div>
                {% endblock tab_content %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form %}