{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% use 'NitraStoreBundle::leftColumnLayout.html.twig' %}

{% block content_class 'badge_page' %}

{% block column_left %}
    {% render controller('NitraProductBundle:Category/Category:categoryFilter', {
        'routeName':        'badge_products_page',
        'routeParameters':  app.request.get('_route_params')|merge(app.request.query.all()),
        'ids':              categoriesIds,
        'active':           activeCats,
    }) %}
{% endblock column_left %}

{% block content %}
    {% block title %}
        <h1>{{ badge.name }}</h1>
    {% endblock title %}

    {% if products is empty %}
        {% block no_products %}
            {{ include ("NitraProductBundle:Modules:noProducts.html.twig", {'page': 'badgeProducts'}) }}
        {% endblock no_products %}
    {% else %}
        {% block badge_page_content %}
            {% block pagination_top %}
                {{ knp_pagination_render(products)|raw }}
            {% endblock pagination_top %}

            {% block product_panel_top %}
                {% render controller("NitraProductBundle:Product/Product:productPanel", {
                    'params':   {
                        'identifier':   badge.identifier,
                    },
                    'pathInfo': app.request.pathInfo,
                }) %}
            {% endblock product_panel_top %}

            {% block product_list %}
                {% render controller("NitraProductBundle:Product/Product:formatProductList", {'products': products}) %}
            {% endblock product_list %}

            {% block pagination_bottom %}
                <div class="pagination_bottom">
                    {{ knp_pagination_render(products)|raw }}
                </div>
            {% endblock pagination_bottom %}

            {% block product_panel_bottom %}
                {#% render controller("NitraProductBundle:Product/Product:productPanel", {'params': { 'identifier': badge.identifier }, 'requestUri': app.request.requestUri}) %#}
            {% endblock product_panel_bottom %}
        {% endblock badge_page_content %}
    {% endif %}
{% endblock %}