{% block badges %}
{% spaceless %}
    {% if items is not empty %}
        <div class="home_modules tabs">
            {% block tab_header %}
                <div class="tab_links" id="tabs">
                    {% block tab_links %}
                        {% for item in items %}
                            {% block tab_link %}
                                <a data-tab="{{ item.badge.identifier }}_tab">
                                    {% block tab_link_content %}
                                        <span>{{ item.badge.name }}</span>
                                    {% endblock tab_link_content %}
                                </a>
                            {% endblock tab_link %}
                        {% endfor %}
                    {% endblock tab_links %}
                </div>
            {% endblock tab_header %}
            <div class="tab_box">
                {% block tab_box %}
                    {% for item in items %}
                        {% block tab_content %}
                            <div id="{{ item.badge.identifier }}_tab" class="tab_content">
                                {{ include('NitraProductBundle:Carousels:products.html.twig', {
                                    'items':        item.products,
                                    'orientation':  orientation,
                                    'visible':      visible,
                                    'type':         type,
                                    'imageSize':    imageSize,
                                    'class':        item.badge.identifier,
                                    'caption':      "",
                                    'autoWidth':    autoWidth|default(false),
                                    'responsive':   responsive|default(false),
                                }) }}
                            </div>
                        {% endblock tab_content %}
                    {% endfor %}
                {% endblock tab_box %}
            </div>
        </div>

        {% block tab_script %}
            <script type="text/javascript">
                $.tabs('#tabs a');
            </script>
        {% endblock tab_script %}
    {% endif %}
{% endspaceless %}
{% endblock badges %}