{% extends "::base.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts
        '@NitraStoreBundle/Resources/public/js/select2.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript_head %}

{% block content %}
    {{ include('NitraProductBundle:Delivery:deliveryPageContent.html.twig') }}
{% endblock content %}

