{% trans_default_domain "NitraProductBundle" %}

{% block javascript %}
    {% javascripts
        '@NitraStoreBundle/Resources/public/js/select2.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block product_estimate_delivery_form %}
    <div class="product_estimate_delivery_form">
        <form id="product_estimate_delivery_form"
              action="{{ path('product_estimate_delivery') }}"
              method="POST" {{ form_enctype(form) }}
              >
            {% block delivery_form_content %}

                {% block delivery_city %}
                    {{ form_row(form.city) }}
                {% endblock delivery_city %}

                {# Ширина #}
                {% block product_width %}
                    {% if product.width is defined and product.width is not empty %}
                        {% block product_width_content %}
                            <div class="form_row width">
                                <label for="product_estimate_delivery_width">{{ 'product.delivery.width.label'|trans }}</label>
                                <span class="value">{{ product.width }}</span>
                                <span class="help">{{ 'product.delivery.width.help'|trans }}</span>
                            </div>
                        {% endblock product_width_content %}
                    {% endif %}
                {% endblock product_width %}

                {# Высота #}
                {% block product_height %}
                    {% if product.height is defined and product.height is not empty %}
                        {% block product_height_content %}
                            <div class="form_row height">
                                <label for="product_estimate_delivery_height">{{ 'product.delivery.height.label'|trans }}</label>
                                <span class="value">{{ product.height }}</span>
                                <span class="help">{{ 'product.delivery.height.help'|trans }}</span>
                            </div>
                        {% endblock product_height_content %}
                    {% endif %}
                {% endblock product_height %}

                {# Длина #}
                {% block product_length %}
                    {% if product.length is defined and product.length is not empty %}
                        {% block product_length_content %}
                            <div class="form_row length">
                                <label for="product_estimate_delivery_length">{{ 'product.delivery.length.label'|trans }}</label>
                                <span class="value">{{ product.length }}</span>
                                <span class="help">{{ 'product.delivery.length.help'|trans }}</span>
                            </div>
                        {% endblock product_length_content %}
                    {% endif %}
                {% endblock product_length %}

                {# Вес #}
                {% block product_weight %}
                    {% if product.weight is defined and product.weight is not empty %}
                        {% block product_weight_content %}
                            <div class="form_row weight">
                                <label for="product_estimate_delivery_weight">{{ 'product.delivery.weight.label'|trans }}</label>
                                <span class="value">{{ product.weight }}</span>
                                <span class="help">{{ 'product.delivery.weight.help'|trans }}</span>
                            </div>
                        {% endblock product_weight_content %}
                    {% endif %}
                {% endblock product_weight %}

                {% block delivery_button %}
                    {{ form_row(form.button_estimate) }}
                {% endblock delivery_button %}

                {{ form_rest(form) }}

            {% endblock delivery_form_content %}
        </form>
    </div>
{% endblock product_estimate_delivery_form %}


{# процесс загрузки стоимостей доставок #}
{% block product_estimate_delivery_loader %}
    <div id="product_estimate_delivery_loading" class="loader" style="display: none">
        {% image '@NitraStoreBundle/Resources/public/images/product_delivery_loading.gif' %}
            <img src="{{ asset_url }}" alt="loading" />
        {% endimage %}
    </div>
{% endblock product_estimate_delivery_loader %}


{# ошибка расчетов #}
{% block product_estimate_delivery_error %}
    <div id="product_estimate_delivery_error" style="display: none"></div>
{% endblock product_estimate_delivery_error %}


{# результат отображения доставки #}
{% block product_estimate_delivery_result %}
    <div id="product_estimate_delivery_result" class="product_estimate_delivery_result"></div>
{% endblock product_estimate_delivery_result %}


{# javascript формы расчет доставки #}
{% block product_estimate_delivery_form_javascript %}
    {{ form_javascript(form) }}
{% endblock product_estimate_delivery_form_javascript %}

{% block product_estimate_delivery_javascript %}
    <script type="text/javascript">
    /**
     * обработка ошибочной ситуации
     * при расчете стоимостей доставки
     */
    function productEstimateDeliveryOnError() {
        $('#product_estimate_delivery_button_estimate').show();
        $('#product_estimate_delivery_loading').hide();
        $('#product_estimate_delivery_error').html('{% trans %}product.delivery.error.server_is_not_available{% endtrans %}').show();
    }

    /**
     * Докуменнт готов
     */
    $(document).ready(function() {
        // расчет стоимости доставки
        $('#product_estimate_delivery_button_estimate').click(function(event){
            // отменить действия по умолчанию
            event.preventDefault();

            // очистить результат расчетов
            $('#product_estimate_delivery_result').html('');
            $('#product_estimate_delivery_error').html('').hide();
            $('#product_estimate_delivery_button_estimate').hide();
            $('#product_estimate_delivery_loading').show();

            // отправить запрос на для расчета
            $.ajax({
                url: $('#product_estimate_delivery_form').attr('action'),
                type: 'POST',
                data: $('#product_estimate_delivery_form').serialize(),
                dataType: 'json',

                // ощибка получения данных
                error: function() {
                    productEstimateDeliveryOnError();
                },

                // данные полуены успешно
                success: function(fromServer) {
                    // проверить ответ сервера
                    if (typeof(fromServer) == 'undefined' ||
                        // ответ сервера должен содержать тип ответа
                        typeof(fromServer.type) == 'undefined'
                    ) {
                        // от сервера получен не корректный ответ
                        productEstimateDeliveryOnError();
                        return;
                    }

                    // отображение ошибки результатов расчета
                    if (fromServer.type == 'error') {
                        $('#product_estimate_delivery_button_estimate').show();
                        $('#product_estimate_delivery_loading').hide();
                        $('#product_estimate_delivery_error').html(fromServer.message).show();
                        return;
                    }

                    // отображение результатов расчета
                    $('#product_estimate_delivery_button_estimate').show();
                    $('#product_estimate_delivery_loading').hide();
                    $('#product_estimate_delivery_result').html(fromServer.html);
                }
            });

            return false;
        });
    });
    </script>
{% endblock product_estimate_delivery_javascript %}