{% if categoryProducts|length %}
    <div class="column_right">
        <div class="brand_models">
            <header><h3>Каталог товаров </h3></header>
            {% for key, categoryBrandProduct in categoryProducts %}
                <div class="item {% if key == product.brand.name %}active{% endif %}">
                    <a class="name" href="javascript:;">{{ key ~ ' (' ~ categoryBrandProduct|length ~ ')' }}</a>
                    <ul>
                        <li class="more"><a{% if key in alias_brands|keys %} href="{{ path('category_page', {'slug': category, (brand_url_alias) : alias_brands[key]}) }}"{% endif %}>Все {{ category.name|lower }} {{ key }}</a></li>
                            {% for categoryProduct in categoryBrandProduct %}
                                <li>
                                    <a {% if categoryProduct.prod.id == product.id %}class="active"{% endif %} href="{{ categoryProduct.href }}">
                                        {{- categoryProduct.prod.shortName -}}
                                    </a>
                                </li>
                            {% endfor %}
                        <li class="more at_bottom"><a{% if key in alias_brands|keys %} href="{{ path('category_page', {'slug': category, (brand_url_alias) : alias_brands[key]}) }}"{% endif %}>Все {{ category.name|lower }} {{ key }}</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            $(function(){
                $('.item .name').click(function(){
                    $(this).closest('.item').children('ul').slideToggle();
                    $(this).closest('.item').toggleClass('active');
                });
            });
        </script>
    </div>
{% endif %}