{% trans_default_domain "NitraProductBundle" %}

{% block product_page_content %}
    <div class="product_page">
        {% block product_page %}
            {% block title -%}
                <h1>
                    {{- product.fullName -}}
                </h1>
            {%- endblock title %}

            {% block images %}
                {{ include('NitraProductBundle:Modules:productImagesColorbox.html.twig', {
                    'visible':       3,
                    'colorbox_open': true,
                    'item':          product,
                }) }}
            {% endblock images %}

            {% block text_delivery %}
                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", { 'location': 'product_delivery' }) %}
            {% endblock text_delivery %}

            {% block text_payment %}
                {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", { 'location': 'product_payment' }) %}
            {% endblock text_payment %}

            {# Блок статуса товара (в наличии\под заказ). #}
            {% block product_stock %}
                {{ include('NitraProductBundle:Modules:productStock.html.twig', { 'item': product }) }}
            {% endblock product_stock %}

            {# Блок с ценой #}
            {% block product_price %}
                {{ include('NitraProductBundle:Modules:productPrice.html.twig', { 'item': product }) }}
            {% endblock product_price %}

            {% block product_button %}
                <a class="button_buy colorbox" href="{{ path('order_page', { 'productId': product.id }) }}">
                    <span>
                        {{- 'button.buy'|trans -}}
                    </span>
                </a>
            {% endblock product_button %}

            {# Блок с кнопкой Добавить к сравнению #}
            {% block product_compare %}
                {{ render_esi(controller('NitraCompareBundle:Compare:getCompareButton', { 'productId': product.id, 'class': 'default' })) }}
            {% endblock product_compare %}

            {# Артикул #}
            {% block product_article %}
                {% if product.article is not empty %}
                    <div class="article">
                        {{- 'product.article'|trans ~ product.article -}}
                    </div>
                {% endif %}
            {% endblock product_article %}

            {# Сокращенные характеристики товара #}
            {% block product_short_description %}
                {#{% render controller("NitraProductBundle:Parameter/Parameter:characteristics", { 'item': product, 'short': true, 'type': 'all' }) %}#}
            {% endblock product_short_description %}

            {# Вывод специального блока, указывающего, что товар акционный. Если нет - не выводится #}
            {% block actions %}
                {#{% render controller("NitraActionManagementBundle:ActionManagement:actionProduct", { 'product': product }) %}#}
            {% endblock actions %}

            {# Описание товара #}
            {% block product_description %}
                {#{{ product.description|raw }}#}
            {% endblock product_description %}

            {# Полные характеристики товара #}
            {% block product_parameters %}
                {#{% render controller("NitraProductBundle:Parameter/Parameter:characteristics", { 'item': product, 'type': 'all' }) %}#}
            {% endblock product_parameters %}

            {# Видео #}
            {% block product_video %}
                {#{{ include('NitraProductBundle:Modules:productVideo.html.twig') }}#}
            {% endblock product_video %}

            {# Табы #}
            {% block tabs %}
                {# Видео #}
                {% set productVideo  = include('NitraProductBundle:Modules:productVideo.html.twig') %}
                {# Характериситки  #}
                {% set productParams = render(controller('NitraProductBundle:Parameter/Parameter:characteristics', { 'item': product, 'type': 'all' })) %}
                {# Расчет доставки #}
                {% set productEstimateDelivery = '' %}
                {#% set productEstimateDelivery = render(controller('NitraProductBundle:Product/Delivery:getProductEstimateDeliveryForm', { 'product': product })) %#}

                {% if (product.description or product.videoRef or productParams|striptags|trim or productEstimateDelivery|trim ) is not empty %}
                    {{ include('NitraProductBundle:Modules:tabs.html.twig', {'tabs': {
                        'features':     {
                            'content':  productParams,
                            'name':     ('product.features'|trans)
                        },
                        'description':  {
                            'content':  product.description,
                            'name':     ('product.description'|trans)
                        },
                        'video':        {
                            'content':  productVideo,
                            'name':     ('product.video'|trans)
                        },
                    } }) }}
                {% endif %}
            {% endblock tabs %}

            {# Сеты #}
            {% block sets %}
                {#{% render controller('NitraSetsBundle:Sets:Index', { 'productId': product.id }) %}#}
            {% endblock sets %}

            {# Товары этой категории #}
            {% block category_products %}
                {% render controller('NitraProductBundle:Product/Carousels:categoryProducts', {
                    'product':          product,
                    'limit':            20,
                    'class':            'category_products',
                    'visible':          6,
                    'type':             'simple',
                    'imageSize':        'big_carousel_thumb',
                    'priceDeviation':   200,
                }) %}
            {% endblock category_products %}

            {# Товары модели #}
            {% block model_products %}
                {% render controller('NitraProductBundle:Product/Carousels:modelProducts', {
                    'product':      product,
                    'orientation':  'horizontal',
                    'class':        'model_products',
                    'caption':      'carousel.model',
                    'visible':      7,
                    'imageSize':    'small_product_image',
                }) %}
            {% endblock model_products %}

            {# Аксессуары #}
            {% block accessories %}
                {% render controller('NitraAccessoriesBundle:Accessories:carouselAccessoriesProducts', {
                    'product':      product,
                    'orientation':  'horizontal',
                    'class':        'accessorize_products',
                    'caption':      'carousel.accessorize',
                    'visible':      3,
                    'type':         'extended',
                    'imageSize':    'big_carousel_thumb',
                }) %}
            {% endblock accessories %}

            {# Просмотренные #}
            {% block viewed %}
                {#{{ render_esi(controller('NitraProductBundle:Product/Carousels:viewedProducts', {
                    'product':      product,
                    'orientation':  'horizontal',
                    'limit':        20,
                    'class':        'viewed_products',
                    'caption':      '',
                    'visible':      5,
                    'type':         'simple',
                    'imageSize':    'big_carousel_thumb',
                })) }}#}
            {% endblock viewed %}

            {# Рекомендуемые #}
            {% block recommended %}
                {#{% render controller('NitraProductBundle:Product/Carousels:recommendedProducts', {
                    'product':      product,
                    'orientation':  'horizontal',
                    'limit':        20,
                    'class':        'recommended_products',
                    'caption':      'carousel.recommended',
                    'visible':      5,
                    'type':         'simple',
                    'imageSize':    'big_carousel_thumb',
                }) %}#}
            {% endblock recommended %}

            {# Популярные товары #}
            {% block popular %}
                {#{% render controller('NitraProductBundle:Product/Carousels:popularProducts', {
                    'orientation':  'horizontal',
                    'limit':        20,
                    'class':        'popular_products',
                    'caption':      'carousel.popularProducts',
                    'visible':      5,
                    'type':         'simple',
                    'imageSize':    'big_carousel_thumb',
                }) %}#}
            {% endblock popular %}
        {% endblock product_page %}
    </div>
{% endblock product_page_content %}