{% trans_default_domain "NitraProductBundle" %}

{% block items_list %}
    <div class="{% block list_class %}product_list{% endblock list_class %}{{ view == "list" ? ' product_list_line' }}">
        {% block items_list_content %}
            {% for item in items %}
                {% block item %}
                    {% set itemLink -%}
                        {%- block item_link -%}
                            {{- item.url is defined ? item.url : path('product_page', { 'slug': item })|url_decode -}}
                        {%- endblock item_link -%}
                    {%- endset %}
                    <div class="{% block item_class %}product_item{% endblock item_class %}{% block item_index %}{{ (loop.index % 3 == 0) ? ' last' }}{% endblock item_index %}">
                        {% block item_content %}
                            {% block item_name %}
                                <a class="{% block item_name_class %}product_name{% endblock item_name_class %}" href="{{ itemLink }}">
                                    {{- item.fullName -}}
                                </a>
                            {% endblock item_name %}

                            {% block item_image %}
                                <a class="{% block item_image_class %}product_image{% endblock item_image_class %}" href="{{ itemLink }}">
                                    {% block item_badge %}
                                        {% if item.badge and item.badge.imageMedium is not empty %}
                                            {% block badge %}
                                                <span class="badge {{ item.badge.alias }}">
                                                    <img src="{{ item.badge.imageMedium|imagine_filter('badge_medium') }}" alt="{{ item.badge.name }}" />
                                                </span>
                                            {% endblock badge %}
                                        {% endif %}
                                    {% endblock item_badge %}
                                    {% block item_image_img %}
                                        <img id="list_image_{{ item.id }}" src="{{ item.image|default('images/no_image.jpg')|imagine_filter('product_list_thumb') }}" alt="{{ item.fullName }}" />
                                    {% endblock item_image_img %}
                                </a>
                            {% endblock item_image %}

                            {% block item_article %}
                                <div class="article">
                                    {{- 'product.article'|trans }} {{ item.article -}}
                                </div>
                            {% endblock item_article %}

                            {% block product_short_description %}
                                {{ include('NitraProductBundle:Parameter:characteristics.html.twig', characteristics[item.id]) }}
                            {% endblock product_short_description %}

                            {% block item_buttons %}
                                {% block item_button_buy %}
                                    <a class="button_buy colorbox" href="{{ path('order_page', { 'productId': item.id }) }}">
                                        <span>
                                            {{- 'button.buy'|trans -}}
                                        </span>
                                    </a>
                                {% endblock item_button_buy %}
                            {% endblock item_buttons %}

                            {# Блок статуса товара (в наличии\под заказ). #}
                            {% block item_stock %}
                                {{ include('NitraProductBundle:Modules:productStock.html.twig', { 'item': item }) }}
                            {% endblock item_stock %}

                            {# Блок с ценой #}
                            {% block item_price %}
                                {{ include('NitraProductBundle:Modules:productPrice.html.twig', { 'item': item }) }}
                            {% endblock item_price %}

                            {# Блок с кнопкой Добавить к сравнению #}
                            {% block item_list_compare %}
                                {#{{ include('NitraCompareBundle:Compare:compareButton.html.twig', { 'product_id': item.id, 'class': 'default' }) }}#}
                            {% endblock item_list_compare %}

                            {% block item_video %}
                                {% if item.videoRef is not empty %}
                                    <span class="video"></span>
                                {% endif %}
                            {% endblock item_video %}
                        {% endblock item_content %}
                    </div>           
                {% endblock item %}
            {% endfor %}

            {# Пагинация для бесконечной прокрутки #}
            {#{% use 'NitraProductBundle:Aditional:productListScroll.html.twig' %}#}
            {{ block('scroll_pagination') }}
        {% endblock items_list_content %}
    </div>
{% endblock items_list %}