{% extends 'NitraProductBundle:Product:productPageContent.html.twig' %}

{% block product_page %}

    {{ block('title') }}

    {% block images %}
        {{ include('NitraProductBundle:Modules:productImagesColorbox.html.twig', {'visible': 3, 'colorbox_open': false}) }}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#main_image, .small_carousel_image').live('click', function(e){
                    e.preventDefault();
                });
            });
        </script>
    {% endblock images %}

    {{ block('product_stock') }}

    {{ block('product_price') }}

    {% block product_button %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function(){
                $('#colorbox').on('click','a.button_buy', function(){
                    $(this).colorbox({open: true});
                    return false;
                });
            });
        </script>
    {% endblock product_button %}

    {{ block('product_compare') }}

    {{ block('product_article') }}

    {{ block('change_params') }}

    {% block product_description %}
        {{ product.description|raw }}
    {% endblock product_description %}

    {% block product_params  %}
        {% render controller('NitraProductBundle:Product/Product:getInfoDescriptionParams', {'product': product}) %}
    {% endblock product_params %}

{% endblock product_page %}