{% extends "::base.html.twig" %}

{% block open_graf_attributes %}
  {# Аттрибуты для OpenGrafProtocol - для "Поделиться" в соц.сетях (также возможно использование prefix="fb: http://ogp.me/ns/fb#" prefix="ya: http://webmaster.yandex.ru/vocabularies/") #}
  {# prefix="og: http://ogp.me/ns#" #}
{% endblock open_graf_attributes %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':     'info',
        'requestUri': app.request.requestUri,
        'object':   product,
        'page':     'product_page',
    }) %}

   {# Мета разметка для OpenGrafProtocol - для "Поделиться" в соц.сетях #}
   {# <meta property="og:title" content="{{ product.fullName }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ path('product_page', {'slug': product}) }}" />
    <meta property="og:image" content="{{ product.image|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" />
    <meta property="og:site_name" content="{{ 'store_name'|trans({}, 'NitraProductBundle') }}" />
    <meta property="og:description" content="{{ product.description|raw|striptags|raw }}" />#}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':     'desc',
        'requestUri': app.request.requestUri,
        'object':   product,
        'page':     'product_page',
    }) %}
{% endblock main_seotext %}

{% block breadscrumbs %}
    {{ breadcrumbs(product) }}
{% endblock breadscrumbs %}

{% block content %}
    {{ include('NitraProductBundle:Product:productPageContent.html.twig') }}
    {# обновление кол-ва просмотров у товара #}
    {{ render_esi(controller("NitraProductBundle:Product/Product:updateProductViews", { 'productId': product.id })) }}
{% endblock content %}

{# Блок каталога товаров #}
{#% block column_right %}
    {% render controller("NitraProductBundle:Brand/Brand:brandedProducts", { 'product': product }) %}
{% endblock %#}