{% trans_default_domain "NitraProductBundle" %}

<div class="search">
    {% block header_search %}
        {{ form(form) }}
    {% endblock header_search %}
</div>

{% block search_script %}
    {{ form_javascript(form) }}
{% endblock search_script %}