<div class="category_footer_list">
    {% block category_footer_list %}
        <ul class="top_nav">
        {% for category in categories %}
            {% block category_item %}
                <li class="{{ loop.index % 3 == 1 ? 'first' }}">
                    {% block category_title %}
                        <a class="category-{{ 'class' in category|keys ? category.class }}" href="{{ category.url }}"><span>{{ category.name }}</span></a>
                    {% endblock category_title %}
                </li>
            {% endblock category_item %}
        {% endfor %}
        </ul>
    {% endblock category_footer_list %}
</div>