<div class="nav">
    {% block category_nav %}
        <ul>
            {% block category_nav_items %}
                {% for category in categories %}
                    <li class="category {{ category.class ? ('category-' ~ category.class) }}{{ category.id in currentPath ? ' active' }}{{ (category.children is not empty) ? ' submenu' }}{{ loop.first ? ' first' }}">
                        {% block category_item %}
                            {% block category_title %}
                                <a class="level0" href="{{ category.url }}"><span>{{ category.name }}</span></a>
                            {% endblock category_title %}

                            {% if category.children is not empty %}
                                {% block category_drop %}
                                    <div class="drop drop{{ category.columns|length }}{{ loop.index <= ((categories|length + 1) // 2) ? ' drop_left' : ' drop_right' }}">
                                        {% for column in category.columns %}
                                            {% block subcategory_col %}
                                                <ul class="col{{ loop.first ? ' first' }}">
                                                    {% for subcategory in column %}
                                                        <li>
                                                            {% block subcategory_item %}
                                                                {% block subcategory_title %}
                                                                    <a class="level1" href="{{ subcategory.url }}">
                                                                        <span>
                                                                            {{- subcategory.name -}}
                                                                        </span>
                                                                    </a>
                                                                {% endblock subcategory_title %}

                                                                {% block subcategory2 %}
                                                                    {% for subcolumnKey, subcolumn in subcategory.columns %}
                                                                        {% block subcategory2_column %}
                                                                            <ul class="subcol subcol{{ subcolumnKey }}">
                                                                                {% block subcategory2_column_content %}
                                                                                    {% for subcategory2 in subcolumn %}
                                                                                        {% block subcategory2_item_li %}
                                                                                            <li>
                                                                                                {% block subcategory2_item %}
                                                                                                    <a class="level2" href="{{ subcategory2.url }}">{{ subcategory2.name }}</a>
                                                                                                {% endblock subcategory2_item %}
                                                                                            </li>
                                                                                        {% endblock subcategory2_item_li %}
                                                                                    {% endfor %}
                                                                                {% endblock subcategory2_column_content %}
                                                                            </ul>
                                                                        {% endblock subcategory2_column %}
                                                                    {% endfor %}
                                                                {% endblock subcategory2 %}
                                                            {% endblock subcategory_item %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endblock subcategory_col %}
                                        {% endfor %}
                                    </div>
                                {% endblock category_drop %}
                            {% endif %} 
                        {% endblock category_item %}
                    </li>
                {% endfor %}
            {% endblock category_nav_items %}
        </ul>
    {% endblock category_nav %}
</div>