{% if categories is not empty %}
    <div class="category_filter filter_box">
        {% block category_filter %}
            {% block filter_category_title %}
                <div class="category_title param_name">{{ 'category.filter_title'|trans({},'NitraProductBundle')}}</div>
            {% endblock filter_category_title %}
            <div class="filter_list">
                {% block filter_category_list %}
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a class="{{ category.active ? 'active' }}" href="{{ category.path|url_decode }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endblock filter_category_list %}
            </div>
        {% endblock category_filter %}
    </div>
{% endif %}