{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block canonical %}
    {% if products.currentPageNumber < products.paginationData.pageCount %}
        {% set href = path("category_page", app.request.attributes.get('_route_params')|merge({ 'page': products.currentPageNumber + 1 })) %}
        <link rel="next" href="{{ href }}">
    {% endif %}
    {% if (products.currentPageNumber > 1) %}
        {% set parameters = app.request.attributes.get('_route_params') %}
        {% if (products.currentPageNumber - 1) == 1 %}
            {% set parameters = parameters|unset('page') %}
        {% else %}
            {% set parameters = parameters|merge({ 'page': products.currentPageNumber - 1 }) %}
        {% endif %}
        {% set href = path("category_page", parameters) %}
        <link rel="prev" href="{{ href }}">
    {% endif %}
{% endblock canonical %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':       'info',
        'requestUri': app.request.requestUri,
        'object':     category,
        'page':       'category_page',
    }) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {
        'type':       'desc',
        'requestUri': app.request.requestUri,
        'object':     category,
        'page':       'category_page',
    }) %}
{% endblock main_seotext %}

{% block stylesheets_head %}
    {{ parent() }}
    {% stylesheets 'bundles/nitrastore/css/jquery.slider.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets_head %}

{% block javascript_head %}
    {% javascripts
        'components/jquery/jquery.min.js'
        '@NitraStoreBundle/Resources/public/js/tab.js'
        '@NitraStoreBundle/Resources/public/js/tinyscrollbar.js'
        '@NitraProductBundle/Resources/public/js/jquery.dependClass.js'
        '@NitraProductBundle/Resources/public/js/jquery.slider.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript_head %}

{% block breadscrumbs %}
    {{ breadcrumbs(category) }}
{% endblock breadscrumbs %}

{% use 'NitraStoreBundle::leftColumnLayout.html.twig' %}

{% block column_left %}
    {% if items is not empty and children is empty %}
        {{ include('NitraProductBundle:Filters:default.html.twig', filter) }}
    {% endif %}
{% endblock column_left %}

{% block content_class 'category_page' %}

{% block content %}
    {% block category_page %}
        {% block category_title %}
            <h1>{{ category }}</h1>
        {% endblock category_title %}

        {% if items is empty and children is empty %}
            {% block no_products %}
                {{ include ("NitraProductBundle:Modules:noProducts.html.twig", { 'page': 'category.' ~ mode }) }}
            {% endblock no_products %}
        {% endif %}

        {% if children is not empty %}
            {% block category_list %}
                {{ include ("NitraProductBundle:Category:categoryList.html.twig", { 'items': children }) }}
            {% endblock category_list %}
        {% endif %}

        {% if items is not empty %}
            {% block category_page_content %}
                {% block pagination_top %}
                    {{ knp_pagination_render(items) }}
                {% endblock pagination_top %}

                {% block product_panel_top %}
                    {% render controller("NitraProductBundle:Product/Product:productPanel", {
                        'params':   app.request.attributes.get('_route_params')|merge(app.request.query.all()),
                        'pathInfo': app.request.pathInfo,
                    }) %}
                {% endblock product_panel_top %}

                {# Бесконечная прокрутка #}
                {#% use 'NitraProductBundle:Aditional:productListScroll.html.twig' %#}
                {{ block('javascript_scroller') }}
                {{ block('scroll_pager') }}
                {{ block('scroll_loader') }}

                {% block product_list %}
                    {{ include('NitraProductBundle:' ~ mode|capitalize ~ ':' ~ mode ~ 'List.html.twig', {
                        'products': items,
                        'view':     app.request.session.get('view', 'list')
                    }) }}
                {% endblock product_list %}

                {% block pagination_bottom %}
                    <div class="pagination_bottom">
                        {{ knp_pagination_render(items) }}
                    </div>
                {% endblock pagination_bottom %}

                {% block product_panel_bottom %}
                    {#{% render controller("NitraProductBundle:Product/Product:productPanel", {
                        'params':   app.request.attributes.get('_route_params')|merge(app.request.query.all()),
                        'pathInfo': app.request.pathInfo,
                        'class':    'bottom',
                    }) %}#}
                {% endblock product_panel_bottom %}
            {% endblock category_page_content %}
        {% endif %}
    {% endblock category_page %}
{% endblock content %}