{% trans_default_domain "NitraProductBundle" %}

{% block branded_products %}
    {% if items is not empty %}
        <div id="brand_items" class="brand_items">
            {% block title %}
                <div class="title">{{ 'category.brands.title'|trans }}</div>
            {% endblock title %}

            {% block brands_list %}
                <div class="brand_items_list">
                    {% for brandId, item in items if item.products is not empty %}
                        {% block brands_item %}
                            {% set active = brandId == product.model.brand.id %}
                            <div class="item{{ active ? ' active' }}">
                                {% block item_name %}
                                    <a class="name">
                                        {{- item.brand.name -}}
                                        {%- block item_count -%}
                                            <span> ({{ item.products|length }})</span>
                                        {%- endblock item_count -%}
                                    </a>
                                {% endblock item_name %}
                                {% block item_more %}
                                    <a class="more"{% if not active %} href="{{ path('category_page', { 'slug': product.model.category, 'brand': item.brand.alias }) }}"{% endif %}>
                                        {{- 'category.brands.more'|trans ~ product.model.category|lower ~ ' ' ~ item.brand.name -}}
                                    </a>
                                {% endblock item_more %}
                                {% block item_products %}
                                    <ul>
                                        {% for id, itemProduct in item.products %}
                                            {% block item_product %}
                                                <li {{ loop.first ? 'class="first"' }}>
                                                    <a{{ (id == product.id) ? ' class="active"' }} href="{{ path('product_page', { 'slug': itemProduct }) }}">
                                                        {{- itemProduct.name -}}
                                                    </a>
                                                </li>
                                            {% endblock item_product %}
                                        {% endfor %}
                                    </ul>
                                {% endblock item_products %}
                            </div>
                        {% endblock brands_item %}
                    {% endfor %}
                </div>
            {% endblock brands_list %}
        </div>
        {% block brands_script %}
            <script type="text/javascript">
                $(function(){
                    $('#brand_items .item .name').click(function(){
                        $(this).closest('.item').children('ul').slideToggle();
                        $(this).closest('.item').toggleClass('active');
                        return false;
                    });
                });
            </script>
        {% endblock brands_script %}
    {% endif %}
{% endblock branded_products %}