{% trans_default_domain "NitraProductBundle" %}

{% block filter_javascript %}
    <script type="text/javascript">
        {% block js_document_ready %}
            $(document).ready(function () {
                {% block js_document_ready_content %}
                    $('#filter_list .parameter .param_name').click(function() {
                        {% block js_param_name_click %}
                            $(this).parent().children('.parameter_list').slideToggle(null, function() {
                                {% block js_param_name_slideToggle_callback %}{% endblock js_param_name_slideToggle_callback %}
                            });
                            $(this).parent('.parameter').toggleClass('show');
                        {% endblock js_param_name_click %}
                    });
                {% endblock js_document_ready_content %}
            });
        {% endblock js_document_ready %}
    </script>
{% endblock filter_javascript %}

{% block filter %}
    <div class="filter_box">
        {% if selectedBox %}
            {{ include("NitraProductBundle:Filters:selected.html.twig") }}
        {% endif %}

        {% block filter_price %}
            {{ include("NitraProductBundle:Filters:filterPrice.html.twig") }}
        {% endblock filter_price %}

        {% block filter_parameters %}
            <div id="filter_list" class="filter_list">
                {% for name, filter in filters %}
                    {{ include("NitraProductBundle:Filters:filterParameter.html.twig") }}
                {% endfor %}
            </div>
        {% endblock filter_parameters %}

        {% block buttons '' %}
    </div>
{% endblock filter %}