{% trans_default_domain "NitraProductBundle" %}

{% block parameter %}
    <div class="parameter{{ (filter.isFilterShow or filter.active) ? ' show' }}"{% if not filter.hasAmountValues %} style="display: none;"{% endif %}>
        {% block name %}
            <div class="param_name">
                {{- filter.name|trans -}}
            </div>
        {% endblock name %}
        <div class="parameter_list"{{ not filter.isFilterShow and not filter.active ? ' style="display:none;"' }}>
            <div class="scroll" id="scroll_{{ filter.alias }}">
                <ul class="overview">
                    {% block values %}
                        {% for id, value in filter.values %}
                            <li class="{% if (value.active) %}active{% endif %}{{ value.intAmount == 0 ? ' hidden' }}"{% if value.intAmount == 0 %} style="display: none;"{% endif %}>
                                {% block value %}
                                    <a class="{{ value.active ? ' active' }}" data-id="{{ id }}" data-value="{{ value.alias }}" data-parameter="{{ filter.alias }}" href="{{ value.link }}">
                                        {{- value.name -}}
                                        {{- filter.suffix ? (' ' ~ filter.suffix) -}}
                                        <span class="quantity"{% if value.active %} style="display: none;"{% endif %}>
                                            {{- value.amount -}}
                                        </span>
                                    </a>
                                {% endblock value %}
                            </li>
                        {% endfor %}
                    {% endblock values %}
                </ul>
            </div>
        </div>
    </div>
{% endblock parameter %}