{% block parameters %}
    {% if items is not empty %}
        {% spaceless %}
            <div class="short_description_parameters">
                {% for item in items %}
                    {% block parameter_item %}
                        <div class="parameter_item">
                            {% block parameter_name %}
                                <span class="name">
                                    {{- item.parameter.name ~ ': ' -}}
                                </span>
                            {% endblock parameter_name %}
                            {% block parameter_values %}
                                <span class="value">
                                    {{- item.values|join( (item.parameter.suffix ? ' ' ~ item.parameter.suffix) ~ ', ' ) ~ ' ' ~ item.parameter.suffix -}}
                                </span>
                            {% endblock parameter_values %}
                        </div>
                    {% endblock parameter_item %}
                {% endfor %}
            </div>
        {% endspaceless %}
    {% endif %}
{% endblock parameters %}