{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('ul.auto li span, ul.vehicles li span, ul.years li span').click(function(){
                $(this).parent().children('ul').slideToggle();
                $(this).toggleClass('active');
            });
        });
    </script>
{% endblock javascript_head %}

{% block content_class 'auto_page' %}

{% block content %}
    {% block tilte %}
        <h1>{{ 'auto_page_title'|trans }}</h1>
    {% endblock tilte %}
    {% block auto_list %}
        <div class="auto_box">
           {% block auto_list_content %}
                <ul class="auto">
                    {% for name, vehicles in vendors %}
                        <li>
                            <span class="auto_name">{{ name }}</span>
                            <ul class="vehicles">
                                {% for vehicle, years in vehicles %}
                                    <li>
                                        <span>{{ vehicle }}</span>
                                        <ul class="years">
                                            {% for year, modifications in years %}
                                                <li>
                                                    <span>{{ year }}</span>
                                                    <ul class="modifications">
                                                        {% for modification, vendorLink in modifications %}
                                                            <li>
                                                                <a href="{{ vendorLink }}">
                                                                    {{ modification }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
           {% endblock auto_list_content %}
        </div>
    {% endblock auto_list %}
{% endblock content %}