{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block content_class 'cities_page' %}

{#{% block breadscrumbs %}
    {{ include('NitraProductBundle:Category:breadscrumbs.html.twig', {'breadscrumbs': [{'href': '', 'name': 'selector.delivery.breadscrumbs'|trans }]}) }}
{% endblock breadscrumbs %}#}

{% block content %}
    <h1>{{ 'auto_cites.title'|trans }}</h1>
    <div class="cities_block">
        {% block cities %}
            <ul>
                {% block cities_content %}
                    {% for id, title in titles|sort %}
                        <li>
                            {% block cities_item %}
                                <a href="{{ path('selector_city', {'id': id}) }}">
                                    <span>{{ title }}</span>
                                </a>
                            {% endblock cities_item %}
                        </li>
                    {% endfor %}
                {% endblock cities_content %}
            </ul>
        {% endblock cities %}
    </div>
{% endblock %}