{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block content_class 'city_page' %}

{#{% block breadscrumbs %}
    {{ include('NitraProductBundle:Category:breadscrumbs.html.twig', {'breadscrumbs': [
        {
            'href': path('selector_cites'),
            'name': 'selector.delivery.breadscrumbs'|trans
        }, {
            'href': '',
            'name': seo.metaTitle
        }
    ]}) }}
{% endblock breadscrumbs %}#}

{% block content %}
    {% block seoInfo %}
        {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type':'desc', 'uri': app.request.uri}) %}
    {% endblock seoInfo %}

    {% block sityDelivery %}
        {% render controller('NitraProductBundle:Product/Delivery:cityDelivery', {'cityId': id}) %}
    {% endblock sityDelivery %}

    {% block badgeProducts %}
        {% render controller('NitraProductBundle:Product/Product:badgeProductsBlock', {
            'badgeIdentifiers': [ 'hit', 'special' ],
            'visible':          4,
        }) %}
    {% endblock badgeProducts %}
{% endblock content %}