{% extends "::base.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block stylesheets_head %}
    {{ parent() }}
    {% stylesheets 'bundles/nitrastore/css/jquery.slider.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
 {% endblock stylesheets_head %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts
        '@NitraProductBundle/Resources/public/js/jquery.dependClass.js'
        '@NitraProductBundle/Resources/public/js/jquery.slider.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block canonical %}
    {% if products.currentPageNumber < products.paginationData.pageCount %}
        {% set href = path("parameter_selection", app.request.attributes.get('_route_params')|merge({ 'page': products.currentPageNumber + 1 })) %}
        <link rel="next" href="{{ href }}">
    {% endif %}
    {% if (products.currentPageNumber > 1) %}
        {% set parameters = app.request.attributes.get('_route_params') %}
        {% if (products.currentPageNumber - 1) == 1 %}
            {% set parameters = parameters|unset('page') %}
        {% else %}
            {% set parameters = parameters|merge({'page': products.currentPageNumber - 1}) %}
        {% endif %}
        {% set href = path("parameter_selection", parameters) %}
        <link rel="prev" href="{{ href }}">
    {% endif %}
{% endblock canonical %}

{% block meta_info %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'info', 'uri': app.request.uri, 'page': 'parameters_selection_page'}) %}
{% endblock meta_info %}

{% block main_seotext %}
    {% render controller("NitraSeoBundle:Seo/Seo:seoInfo", {'type': 'desc', 'uri': app.request.uri, 'page': 'parameters_selection_page'}) %}
{% endblock main_seotext %}

{% use 'NitraStoreBundle::leftColumnLayout.html.twig' %}

{% block column_left %}
    {% if products is not empty %}
        {{ include('NitraProductBundle:Filters:default.html.twig', filter) }}
    {% endif %}
{% endblock column_left %}

{% block content_class 'parameters_selection_page' %}

{% block content %}
    {% block selection_page %}
        {% block selection_title %}
            <h1>{{ 'selector.parameters.page_title'|trans }}</h1>
        {% endblock selection_title %}

        {% if products is empty %}
            {% block no_products %}
                {{ include ("NitraProductBundle:Modules:noProducts.html.twig", {'page': 'selector.other'}) }}
            {% endblock no_products %}
        {% endif %}

        {% if products is not empty %}
            {% block selection_page_content %}
                {% block pagination_top %}
                    {{ knp_pagination_render(products)|raw }}
                {% endblock pagination_top %}

                {% block product_panel_top %}
                   {% render controller("NitraProductBundle:Product/Product:productPanel", {'params': routeParameters, 'pathInfo': app.request.pathInfo}) %}
                {% endblock product_panel_top %}

                {# Бесконечная прокрутка #}
                {#% use 'NitraProductBundle:Aditional:productListScroll.html.twig' %#}
                {{ block('javascript_scroller') }}
                {{ block('scroll_pager') }}
                {{ block('scroll_loader') }}

                {% block product_list %}
                    {{ include('NitraProductBundle:' ~ mode|capitalize ~ ':' ~ mode ~ 'List.html.twig', {
                        'items':    products,
                        'view':     app.request.session.get('view', 'list')
                    }) }}
                {% endblock product_list %}

                {% block pagination_bottom %}
                    <div class="pagination_bottom">
                        {{ knp_pagination_render(products)|raw }}
                    </div>
                {% endblock pagination_bottom %}

                {% block product_panel_bottom %}
                    {#% render controller("NitraProductBundle:Product/Product:productPanel", {'params' : params, 'pathInfo' : app.request.pathInfo, 'class' : 'bottom'}) %#}
                {% endblock product_panel_bottom %}
            {% endblock selection_page_content %}
        {% endif %}
    {% endblock selection_page %}
{% endblock content %}