{% trans_default_domain "NitraProductBundle" %}

{% if product.model and product.model in productModels|keys %}
{% spaceless %}
    <div class="model_products" style="display: none">
        {% for modelProduct in productModels[product.model] %}
            {% block model_name %}<a class="name" href="{{ path('product_page', {'slug': modelProduct}) }}">{{ modelProduct.name|raw }}</a>{% endblock model_name %}
            {% block model_image %}
                <a href="{{ path('product_page', {'slug': modelProduct}) }}" class="images">
                    <img class="main_list_image image_{{product.id}}" src="{{ modelProduct.image|default('images/no_image.jpg')|imagine_filter('thumb') }}" alt="{{ modelProduct.name }}" />
                </a>
            {% endblock model_image %}

            {% block model_short_description %}
                {% render controller('NitraProductBundle:Product/Product:getShortDescriptionParams', {'product': modelProduct, 'type' : 'product'}) %}
            {% endblock model_short_description %}

            {% block model_price_block %}
                <div class="price_box">
                    {% block model_old_price %}
                        {% block model_price %}<span class="price">{{ (modelProduct.storePrice[storeId].price is defined) ? modelProduct.formatPrice(modelProduct.storePrice[storeId].price)|raw : 0 }}</span>{% endblock model_price %}
                        {% if modelProduct.storePrice[storeId].oldPrice is defined %}
                            <span class="old_price">{{ modelProduct.formatPrice(modelProduct.storePrice[storeId].oldPrice)|raw }}</span>
                        {% endif %}
                    {% endblock model_old_price %}
                </div>
            {% endblock model_price_block %}

            {% block model_button %}<a class="button_buy colorbox" href="{{ path('order_page', {'productId': modelProduct.id})}}"><span>{% trans %}button.buy{% endtrans %}</span></a>{% endblock model_button %}
        {% endfor %}
    </div>

    {% block model_products_script %}
        {# Показываем другие товары модели, если список линейный, если блочный переходим по ссылке #}
        <script type="text/javascript">
            $('.button_show').click(function(event){
                if ($('.product_list_line').length) {
                    {# перехватываем переход по ссылке #}
                    event.preventDefault();
                    $('.model_products').toggle();
                }
            });
        </script>
    {% endblock model_products_script %}
{% endspaceless %}
{% endif %}