{% spaceless %}
    {% block price_block %}
        <div class="price_box">
            {% block price %}
                <span class="price{{ (item.stock == 'onOrder' or item.stock == 'notInStock') ? ' out_stock' }}">{{ item.price|price }}</span>
            {% endblock price %}

            {% if item.originalPrice > item.price %}
                {% block old_price %}
                    <span class="old_price{{ (item.stock == 'onOrder' or item.stock == 'notInStock') ? ' out_stock' }}">{{ item.originalPrice|price }}</span>
                {% endblock old_price %}
            {% endif %}
        </div>
    {% endblock price_block %}
{% endspaceless %}  