{% trans_default_domain "NitraProductBundle" %}

{% spaceless %}
    <div class="image_block">
        {% block main_image_block %}
            <div class="main_image">
                {% block badge %}
                    {% if item.badge and item.badge.imageBig is not empty %}
                        {% block badge_content %}
                            <span class="badge {{ item.badge.aliasEn }}"><img src="{{ item.badge.imageBig|imagine_filter('badge_big') }}" alt="{{ item.badge.aliasEn }}"/></span>
                        {% endblock badge_content %}
                    {% endif %}
                {% endblock badge %}

                {% block main_image %}
                    <a id="main_image" href="{{ item.image|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" title="{{ item.fullName }}">
                        <img id="list_image_{{ item.id }}" src="{{ item.image|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" alt="{{ item.fullName }}"/>
                    </a>
                {% endblock main_image %}
             </div>
        {% endblock main_image_block %}

        {% if item.images is defined and item.images is not empty %}
            {% block thumbs %}
                <div id="thumbs_carousel" class="thumbs carousel_block{{ item.images|length > visible - 1 ? ' with_links' }}">
                    {% block thumbs_carousel %}
                        <ul>
                            {% block carousel_items %}
                                <li class="item">
                                    {% block item_first %}
                                        <a class="small_carousel_image" href="{{ item.image|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" data-thumb="{{ item.image|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" title="{{ item.fullName }}">
                                            <img src="{{ item.image|default('images/no_image.jpg')|imagine_filter('small_product_image') }}" alt="{{ item.fullName }}"/>
                                        </a>
                                    {% endblock item_first %}
                                </li>
                               {% for smallimage in item.images %}
                                    <li class="item">
                                        {% block item %}
                                            <a class="small_carousel_image" href="{{ smallimage|default('images/no_image.jpg')|imagine_filter('main_product_image') }}" data-thumb="{{ smallimage|default('images/no_image.jpg')|imagine_filter('big_thumb') }}" title="{{ item.fullName }}">
                                                <img src="{{ smallimage|default('images/no_image.jpg')|imagine_filter('small_product_image') }}" alt="{{ item.fullName }}"/>
                                            </a>
                                        {% endblock item %}
                                    </li>
                                {% endfor %}
                            {% endblock carousel_items %}
                         </ul>
                    {% endblock thumbs_carousel %}

                    {% if item.images|length > visible - 1 %}
                        {% block carousel_script %}
                            <a class="thumbs_carousel slide_link prev"></a>
                            <a class="thumbs_carousel slide_link next"></a>

                            <script type="text/javascript">
                                $(document).ready(function(){
                                    //initialize carousel
                                    $("#thumbs_carousel").jCarouselLite({
                                        btnNext: ".thumbs_carousel.next",
                                        btnPrev: ".thumbs_carousel.prev",
                                        autoWidth: {{ (autoWidth is defined and autoWidth) ? 'true' : 'false' }},
                                        responsive: {{ (responsive is defined and responsive) ? 'true' : 'false' }},
                                        visible: {{ visible }},
                                        vertical: {{ ((orientation is defined) and (orientation == 'vertical')) ? 'true' : 'false' }},
                                        circular: false
                                    });
                                });
                            </script>
                        {% endblock carousel_script %}
                    {% endif %}
                </div>

                {% block images_script %}
                    <script type="text/javascript">
                        $(document).ready(function(){
                            // replace big image on hover
                            $('.small_carousel_image').hover(
                                function(){
                                    var el = this;
                                    var href = $(this).attr('href');
                                    var src = $(this).attr('data-thumb');
                                    var t = setTimeout(function() {
                                        $('#main_image').attr('href', href);
                                        $('#main_image').children('img').attr('src', src);
                                    }, 200);
                                    $(el).data('timeout', t);

                                    return false;
                                },
                                function(){
                                    clearTimeout($(this).data('timeout'));
                                }
                            );
                            {% if colorbox_open %}
                                //display images in colorbox
                                $('.small_carousel_image').colorbox({rel: true});
                                $('#main_image').live('click', function(e){
                                    e.preventDefault();
                                    $('.small_carousel_image[data-thumb="' + $(this).children('img').attr('src') + '"]').trigger('click');
                                });
                            {% endif %}
                        });
                    </script>
                {% endblock images_script %}
            {% endblock thumbs %}
        {% else %}
            {% if colorbox_open %}
                {% block colorbox_script %}
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('#main_image').colorbox();
                        });
                    </script>
                {% endblock colorbox_script %}
            {% endif %}
        {% endif %}
    </div>
{% endspaceless %}  