{%- trans_default_domain "NitraProductBundle" -%}

{% spaceless %}
    <div class="product_panel {{ (class is not empty) ? class }}">
        {% block product_panel %}
            {% block product_panel_sort %}
                <div class="item sorts">
                    {% block sort_title %}<span>{{ 'sort.label'|trans }}</span>{% endblock sort_title %}
                    {% block sort_links %}
                        {% if currentRoute.sort is empty %}
                            {% set currentRoute = currentRoute|merge({'sort': 'price'}) %}
                        {% endif %}
                        {% for sort in [ 'price', 'name' ] %}
                            {% set href = path(currentRoute._route, params|merge({'sort': sort})) %}
                            <a href="{{ href }}" class="{{ currentRoute.sort == sort ? 'active' }}"
                                <span>
                                    {{- ('sort.' ~ sort)|trans -}}
                                </span>
                            </a>
                        {% endfor %}
                        {% block badges_sorts %}
                            {% for badge in badges %}
                                {% set href = path(currentRoute._route, params|merge({'sort' : badge.identifier})) %}
                                {% block badge_sort_item %}
                                    <a class="{{ currentRoute.sort == badge.identifier ? 'active' }}" href="{{ href }}">
                                        <span class="badge_sort">
                                            {{- badge.name -}}
                                        </span>
                                    </a>
                                {% endblock badge_sort_item %}
                            {% endfor %}
                        {% endblock badges_sorts %}
                    {% endblock sort_links %}
                </div>
            {% endblock product_panel_sort %}

            {% block product_panel_view %}
                <div class="item view">
                    {% block view_title -%}
                        <span>
                            {{- 'view.label'|trans -}}
                        </span>
                    {%- endblock view_title %}
                    {% block view_links %}
                        {% for allowView in [ 'table', 'list' ] %}
                            {% set href = path(currentRoute._route, params|merge({'view': allowView })) %}
                            <a title="{{ ('view.' ~ allowView)|trans }}" class="view_item {{ allowView }}_view{{ allowView == view ? ' active' }}" data-view="{{ allowView }}" data-href="{{ href }}">
                                {{- ('view.' ~ allowView)|trans -}}
                            </a>
                        {% endfor %}
                    {% endblock view_links %}
                </div>
                {% if class is empty %}
                    {% block script_view %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.view_item').click(function() {
                                    if ($(this).hasClass('active')) {
                                        return;
                                    }
                                    $('.view_item').removeClass('active');
                                    $(this).addClass('active');
                                    saveView($(this).data('view'), $(this).data('href'));
                                });
                            });

                            /**
                             * Save view type
                             * @param {string} view Type to set
                             * @param {string} href Path to redirect after success sets
                             */
                            function saveView(view, href) {
                                $.ajax({
                                    type:       "POST",
                                    async:      false,
                                    cache:      false,
                                    url:        '{{ path('save_view') }}',
                                    data:       {
                                        view:   view
                                    },
                                    success:    function() {
                                        location.href = href;
                                    }
                                });
                            };
                        </script>
                    {% endblock script_view %}
                {% endif %}
            {% endblock product_panel_view %}

            {% block product_panel_limit %}
                <div class="item limit">
                    {% block limit_title %}
                        <span>{{ 'limit'|trans }}</span>
                    {% endblock limit_title %}
                    {% block limit_links %}
                        {% for allowLimit in limits %}
                            {% set href = path(currentRoute['_route'], params|merge({'limit': limit})|unset('page')) %}
                            <a class="limit_view{{ limit == allowLimit ? ' active' }}" data-href="{{ href }}" data-limit="{{ allowLimit }}">
                                <span>{{ allowLimit }}</span>
                            </a>
                        {% endfor %}
                    {% endblock limit_links %}
                </div>
                {% if class is empty %}
                    {% block script_limit %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.limit_view').click(function() {
                                    var href = $(this).data('href');
                                    $.ajax({
                                        type:       "POST",
                                        async:      false,
                                        cache:      false,
                                        url:        '{{ path('save_limit') }}',
                                        data:       {
                                            limit:  $(this).data('limit')
                                        },
                                        success:    function() {
                                            location.href = href;
                                        }
                                    });
                                });
                            });
                        </script>
                    {% endblock script_limit %}
                {% endif %}
            {% endblock product_panel_limit %}
        {% endblock product_panel %}
    </div>
{% endspaceless %}