{% extends "NitraProductBundle:Search:prototypePage.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% block results %}
    {% render controller("NitraProductBundle:Product/Product:formatProductList", {'products': results|first}) %}
{% endblock results %}