{% trans_default_domain "NitraProductBundle" %}

<table class="model_items">
    <tr>
        {% block headers %}
            <th>{{ 'product.model.label'|trans }}</th>
            <th>{{ 'product.model.price'|trans }}</th>
            <th />
        {% endblock headers %}
    </tr>
    {% block model_products %}
        {% for product in model.products %}
            {% block product %}
                <tr>
                    <td>
                        {%- block product_name -%}
                            <a href="{{ path('product_page', { 'slug': product }) }}">
                                {{- product.shortName -}}
                            </a>
                        {%- endblock product_name -%}
                    </td>
                    <td>
                        {%- block product_price -%}
                            {{- include('NitraProductBundle:Modules:productPrice.html.twig', {'item': product}) -}}
                        {%- endblock product_price -%}
                    </td>
                    <td>
                        {%- block product_buy_button -%}
                            <a class="button_buy colorbox" href="{{ path('order_page', {'productId' : product.id}) }}">
                                <span>
                                    {{- 'button.buy'|trans -}}
                                </span>
                            </a>
                        {%- endblock product_buy_button -%}
                    </td>
                </tr>
            {% endblock product %}
        {% endfor %}
    {% endblock model_products %}
</table>