{% use "NitraProductBundle:Selector:paramSelector.html.twig" %}

{% trans_default_domain "NitraProductBundle" %}

{% set tabs = {} %}
{% for key, form in filter.forms %}
    {% set content %}
        <div class="selector_box">
            {% if app.request.session.has('selector_selected_vendor') %}
                {{ render_esi(controller('NitraProductBundle:Selector/Selection:selectorByAutoForm', {
                    'redirect': redirect,
                    'category': form.categories.vars.data,
                })) }}
            {% else %}
                {% include "NitraProductBundle:Selector/Auto:simple.html.twig" with {
                    'form':             auto[key],
                    'type':             key,
                    'key':              form.categories.vars.data,
                    'useSelect2':       useSelect2,
                    'useBrandFilter':   1,
                    'categoryGetter':   '$(".selector_full .tab_links .selected").data("tab").replace("_tab", "");',
                } %}
            {% endif %}
        </div>
        <div class="selector_box">
            <div class="selector_title">{{ 'selector.parameters.selector_title'|trans }}</div>
            {% set paramForm = form %}
            {% set pricesRanges = filter.pricesRanges %}
            {% set totalPriceRanges = filter.totalPriceRanges %}
            {% set usePriceFilter = filter.usePriceFilter %}
            {{ block('child') }}
        </div>
    {% endset %}

    {% set tabs = tabs|merge({(form.categories.vars.data): {
        'content': content,
        'name':    ('selector.other.' ~ form.categories.vars.data)|trans,
    }}) %}
{% endfor %}

<div class="selector_full">
    {% block selector_full %}
        {{ include('NitraProductBundle:Modules:tabs.html.twig', {'tabs': tabs}) }}
    {% endblock selector_full %}
</div>

{% set usePriceFilter = filter.usePriceFilter %}

{{ block('js') }}

{% block js_maxHeights %}
    <script type="text/javascript">
        $(document).ready(function() {
            var $forms    = $('.selector_box form');
            var maxHeight = 0;
            $forms.each(function() {
                if ($(this).height() > maxHeight) {
                    maxHeight = $(this).height();
                }
            });
            $forms.height(maxHeight);
        });
    </script>
{% endblock js_maxHeights %}