{% trans_default_domain "NitraProductBundle" %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/nitrastore/css/jquery.slider.css') }}" />
{% endblock css %}

{% block js %}
    {% block js_includes %}
        {% javascripts
            '@NitraProductBundle/Resources/public/js/jquery.dependClass.js'
            '@NitraProductBundle/Resources/public/js/jquery.slider.min.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock js_includes %}

    {{ form_javascript(paramForm) }}

    {% block js_serializer %}
        <script type="text/javascript">
            $(document).ready(function() {
                {% for child in paramForm %}
                    $('#{{ child.vars.id }}').on('change', function() {
                        if (!options.hasOwnProperty('{{ key }}')) {
                            options['{{ key }}'] = {};
                        }
                        options['{{ key }}']['{{ child.vars.name }}'] = this.value;
                        {% if usePriceFilter and paramForm.price is defined %}
                            var prices = {};
                            var slidValue = $('#{{ paramForm.price.vars.id }}').slider("value");
                            if (typeof slidValue != 'string') {
                                slidValue = slidValue.val();
                            }
                            prices.total= '{{ totalPriceRange.min|default(0) }};{{ totalPriceRange.max|default(0) }}';
                            prices.selected = slidValue ? slidValue : '{{ totalPriceRange.min|default(0) }};{{ totalPriceRange.max|default(0) }}';
                        {% endif %}
                        sendParamSelector('{{ key }}', options['{{ key }}']{% if usePriceFilter and (pricesRange is not empty) %}, prices{% endif %});
                    });
                {% endfor %}
            });
        </script>
    {% endblock js_serializer %}

    {% block js_price_range %}
        {% if usePriceFilter and (pricesRange is not empty) %}
            <script type="text/javascript">
                $(document).ready(function() {
                    var to = {% if pricesRange|length > 1 %}{{ pricesRange[(pricesRange|length) - 1] }}{% else %}{{ pricesRange|first }}{% endif %};

                    $('#{{ paramForm.price.vars.id }}').slider({
                        from:       {{ pricesRange|first }},
                        to:         to,
                        smooth:     true,
                        round:      0,
                        dimension:  "{{ 0|price|replace({'0': ''})|raw }}",
                        callback:   function(data) {
                            var prices = {};
                            prices.total= '{{ totalPriceRange.min|default(0) }};{{ totalPriceRange.max|default(0) }}';
                            prices.selected = data;

                            sendParamSelector('{{ key }}', options['{{ key }}']{% if usePriceFilter and (pricesRange is not empty) %}, prices{% endif %});
                        }
                    });
                });
            </script>
        {% endif %}
    {% endblock js_price_range %}
{% endblock js %}

{% block form %}
    {{ form(paramForm) }}
{% endblock form %}