{% trans_default_domain "NitraProductBundle" %}

{% block form %}
    {% set tabs = {} %}
    {% for key, form in forms %}
        {% set content %}
            {% set paramForm = form %}
            {% block child %}
                <script type="text/javascript">
                    var options = {};
                </script>
                <div id="{{ key }}">
                    {{ include('NitraProductBundle:Selector:paramForm.html.twig', {
                        'pricesRange':     pricesRanges[key],
                        'totalPriceRange': totalPriceRanges[key],
                    }) }}
                </div>
            {% endblock child %}
        {% endset %}
        {% if (type is defined) and (type == 'tabs') %}
            {% set tabs = tabs|merge({(key): {
                'name':    ('selector.other.' ~ form.vars.key)|trans,
                'content': content,
            }}) %}
        {% else %}
            {{- content -}}
        {% endif %}
    {% endfor %}
    {% if (type is defined) and (type == 'tabs') %}
        <div class="tabs_selector param">
            {% block tabs_selector %}
                {% block title %}
                    <h2 class="selector_title">
                        {{- 'selector.parameters.selector_title'|trans|raw -}}
                    </h2>
                {% endblock title %}
                {{ include('NitraProductBundle:Modules:tabs.html.twig', {'tabs': tabs}) }}
            {% endblock tabs_selector %}
        </div>
    {% endif %}
{% endblock form %}

{% block js %}
    <script type="text/javascript">
        // XMLHttpRequest
        // подбор по параметрам
        function sendParamSelector(formId, options{% if usePriceFilter %}, priceFilter{% endif %}) {
            // убераем пустые параметры
            for (var key in options) {
                if (!options[key]) {
                    delete options[key];
                }
            }

            // запустить подборщик
            $.ajax({
                type:       "POST",
                url:        $('#' + formId + ' form').prop('action'),
                async:      false,
                data:       {
                    formId:        formId,
                    {% if usePriceFilter %}
                    prices:        priceFilter.total,
                    priceSelected: priceFilter.selected,
                    {% endif %}
                    options:       options
                },
                success:    function(data) {
                    var $elm = $('#' + formId);
                    // создаем контейнер для временных данных
                    var formIdResult = formId + '_result';
                    $elm.after('<div id="' + formIdResult + '"></div>');
                    // скрываем форму
                    $elm.hide();
                    // сбрасываем значения для firefox
                    $elm.find('select option:empty').prop('selected', true);
                    var $box = $('#' + formIdResult);
                    // перемещаем данные с формы в временный блок
                    $box.html($('#' + formId).html());
                    // добавляем данные с ajax в форму
                    $elm.html(data);
                    // данные загружены
                    $elm.ready(function() {
                        // скрываем и удаляем временный блок
                        $box.hide();
                        // отображаем форму
                        $elm.show();
                        $box.remove();
                    });
                }
            });
        }
    </script>
{% endblock js %}